extends ../_layouts/layout

block head_end
  link(rel="stylesheet" type="text/css" href="assets/lib/css/bootstrap.min.css")
  link(rel="stylesheet" type="text/css" href="assets/css/style.css")

block content
    
    include ../_partials/post/post-column

block body_end
