extends ../_layouts/layout

block head_end
  link(rel="stylesheet" type="text/css" href="assets/lib/css/bootstrap.min.css")
  link(rel="stylesheet" type="text/css" href="assets/css/style.css")

block content
    
    .more-info-of-banner.version-black
        .container
            .flex-desktop
                .width-65
                    .small
                        include ../_partials/live/video
                    include ../_partials/live/content-video-black
                    .d-desktop
                        include ../_partials/about/comment-box
                .width-35
                    include ../_partials/about/chat
                    
                    include ../_partials/about/detail-box

block body_end
