.comment-box-component
    h1.comment-box-title.font-bold 26 comments
    .comment-box-wrapper.scroll-bar
        .commnent-enter-block
            i.fa.fa-user
            input.comment-input(type="text" placeholder="Join the discussion")
        ul.comment-list
            li.comment-item
                i.fa.fa-user
                .comment-user-block
                    span.comment-info
                        a.user-name.font-bold User name
                        span.distance-text |
                        span.date 2:40
                    p.comment-description
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is 
            li.comment-item
                i.fa.fa-user
                .comment-user-block
                    span.comment-info
                        a.user-name.font-bold User name
                        span.distance-text |
                        span.date 2:40
                    p.comment-description
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is 
            li.comment-item
                i.fa.fa-user
                .comment-user-block
                    span.comment-info
                        a.user-name.font-bold User name
                        span.distance-text |
                        span.date 2:40
                    p.comment-description
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is 
            li.comment-item
                i.fa.fa-user
                .comment-user-block
                    span.comment-info
                        a.user-name.font-bold User name
                        span.distance-text |
                        span.date 2:40
                    p.comment-description
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is 
            li.comment-item
                i.fa.fa-user
                .comment-user-block
                    span.comment-info
                        a.user-name.font-bold User name
                        span.distance-text |
                        span.date 2:40
                    p.comment-description
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is 
            li.comment-item
                i.fa.fa-user
                .comment-user-block
                    span.comment-info
                        a.user-name.font-bold User name
                        span.distance-text |
                        span.date 2:40
                    p.comment-description
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is 
            li.comment-item
                i.fa.fa-user
                .comment-user-block
                    span.comment-info
                        a.user-name.font-bold User name
                        span.distance-text |
                        span.date 2:40
                    p.comment-description
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is 
            