.detail-box-component.scroll-bar
    ul.detail-list
        li.detail-item
            h2.entity.font-bold DIRECTOR 
            p.text Jack Neo, Randy Ang
        li.detail-item
            h2.entity.font-bold LANGUAGE 
            p.text Chinese
        li.detail-item
            h2.entity.font-bold GENRE 
            p.text Action,Comedy
        li.detail-item
            h2.entity.font-bold YEAR 
            p.text 2015
        li.detail-item
            h2.entity.font-bold CAST 
            p.text DIRECTOR Daniel Yun, Randy Ang GENRE Documentary,Drama CAST Qi Yuwu 戚玉武,Joanne Peh 白薇秀,James Seah 谢荣辉,Deanna Yusoff,Mike Kasem,Lim Kay Tong 林继堂,Sezairi Sezali
