.live-component
    .banner-overlay-bottom
    .banner-overlay-top
    .live-video-wrapper
        h1.uppercase.font-bold.title.text-left TRAILER
        .small
            include video
    .live-content
        h1.title-1.font-bold MliveTv
        p.subtitle 
            | Now showing
        h2.title-2
            span.font-bold Walking Man
            span.time @8:00pm - 9:00pm
        p.live-description
            | All members were arrested for various crimes they have committed. Yoo Jae-suk was given the opportunity of a pardon, where he must re-imprison the escaped members by spraying their name tags before they can escape the building. 
        .d-mobile
            .live-countdown
                h4.title Live in
                span.countdown-wrapper(data-countdown-custom)
                    span.countdown-item.item-hour
                        span.countdown-item-times
                            span.number.countdown-hour
                                span.hour-1.number-1 0
                                span.hour-2.number-2 1
                            span.text HRS
                    span.countdown-item
                        span.countdown-item-times
                            span.number.countdown-minute
                                span.minute-1.number-1 1
                                span.minute-2.number-2 7
                            span.text MINS
                    span.countdown-item
                        span.countdown-item-times
                            span.number.countdown-second
                                span.second-1.number-1 1
                                span.second-2.number-2 7
                            span.text SECS
.d-desktop
  include countdown
            