body {
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

/* ------ Normalize ----- */
*,
*:after,
*:before {
	box-sizing: border-box;
}

a {
	text-decoration: unset;
	transition: all 0.4s ease;
	&:hover, &:focus {
		text-decoration: none !important;
		outline: unset;
	}
}
