footer
    .container
        ul.footer-list
            li.footer-item
                a(href="#" title="").footer-link About Us
            li.footer-item
                a(href="#" title="").footer-link Contact
            li.footer-item
                a(href="#" title="").footer-link Privacy Statement
            li.footer-item
                a(href="#" title="").footer-link Term of Use
        .footer-list-mobile.d-mobile
            a(href="#" title="")
                i.fa.fa-home
            span.search-icon.icon
                i.fa.fa-search
            a.user-name(href="#" data-toggle='modal', data-target='.login-popup')
                span.user-icon.icon
                i.fa.fa-user