.mosaicLayout
    .c_mosaic.c_mosaic--show-more-enabled
        .c_mosaic_layout 123
        .c_mosaic_show-more
             button(type="button").js-mosaic-show-more Show more

.mosaicLayout
    .c_mosaic.c_mosaic--show-more-enabled
        .c_mosaic_layout 456
        

.mosaicLayout
    .c_mosaic.c_mosaic--show-more-enabled
        .c_mosaic_layout 789
        .c_mosaic_show-more
             button(type="button").js-mosaic-show-more Show more
