// color
.color-gray {
    color: #343434;
}

.color-white {
    color: white;
}

.color-black {
    color: #333;
}

.color-green {
    color: $color-green;
}

.version-black {
    background-color: #181818;
}

body {
    background-color: #181818;
}

// background
.bg-black {
    background-color: #000;
}

.bg-white {
    background-color: #fff;
}

.bg-black-2 {
    background-color: #181818;
}

.border-gray {
    padding-bottom: 40px;
    border-bottom: 1px solid #707070;
}

// text
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

// tag
a {
    cursor: pointer;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    transition: all .3s ease;
    outline: 0;
    outline-offset: 0;
}

button {
    border: none;
    background-color: transparent;
    &:hover,
    &:focus {
        outline: none;
    }
}

input {
    &:focus {
        outline: none;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

p {
    margin: 0;
}

// other
.underline {
    text-decoration: underline !important;
}

.font-bold {
    font-weight: bold;
}

.main-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 26px;
    color: $color-black;
    margin-bottom: 10px;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.text-uppercase
.uppercase {
    text-transform: uppercase;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.position-relative {
    position: relative;
}


@media (min-width: 768px) {
    .d-mobile {
        display: none;
    }

    .flex-desktop {
        display: flex;
    }
}


.d-none {
    display: none !important;
}



// modal
.fade.show {
    opacity: 1;
}

.modal-open .fade.show {
    background-color: rgba(0, 0, 0, 0.45);
}

.modal-open .modal.fade .modal-dialog {
    transform: translate(-50%, -50%);
    width: auto;
}

.modal-open .modal-backdrop {
    z-index: 1;
}

.fa-times {
    cursor: pointer;
}

// scroll
.scroll-bar {
    overflow-y: auto;
}

.scroll-bar::-webkit-scrollbar-track
{
	background-color: gray;
}

.scroll-bar::-webkit-scrollbar
{
	width: 7px;
    background-color: gray;
    height: 10px;
}

.scroll-bar::-webkit-scrollbar-thumb
{
    background-color: #333;
    border: 1px solid slategrey;
    border-radius: 7px;
    height: 5px;
}


@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

@media (max-width: 767px) {
    .d-desktop {
        display: none !important;
    }

    .d-mobile {
        display: initial;
    }
}