.comment-box-component {
    color: #333;
    background-color: #fff;
    padding-right: 20px;
    font-size: 12px;

    .version-black & {
        background-color: #181818;
        color: $color-white;
    }

    .commnent-enter-block {
        display: flex;
        margin-bottom: 20px;
        input {
            border: none;
            border-bottom: 1px solid #f5f5f5;
            background-color: transparent;
            width: 50%;
            &::placeholder {
                color: $color-gray-4;
                font-size: 12px;
            }

            &:focus {
                outline: 0;
            }
        }

    }

    .comment-box-title {
        font-size: 18px;
        position: relative;
        margin-bottom: 30px;
        display: inline-block;
        padding-right: 24px;

        &::before {
            content: "";
            background: $color-gray-4;
            bottom: -6px;
            height: 3px;
            width: 100%;
            left: 0;
            right: 0;
            position: absolute;
        }
    }

    .comment-box-wrapper {
        max-height: 300px;
    }

    .comment-list {
        padding-right: 25px;
        .comment-item {
            display: flex;
            align-items: flex-start;

            &+ .comment-item {
                margin-top: 20px;
            }
        }
        .comment-description {
            margin-top: 5px;
        }

        .distance-text {
            padding: 0 5px;
        }
    }

    .user-name {
        color: #000;
        font-size: 18px;
    }

    .fa-user {
        width: 42px;
        height: 42px;
        color: $color-black;
        background-color: $color-white;
        border-radius: 50%;
        margin-right: 20px;
        border-radius: 50%;
        border: 1px solid;

        &::before {
            width: 42px;
            height: 42px;
            line-height: 40px;
            font-size: 18px;
            display: inline-block;
            text-align: center;
        }
    }
}