.video-component(style="background-image:url('assets/images/video/video-background.jpeg')" data-video)
  .video-wrapper
    .background-overlay
    .video-show-block(data-youtubeId = '50S7CLr7U7s')
    .video-close.d-none
    a.btn-play(title="Play video" href="javascript:void(0)")
      img(src="assets/images/icons/watch-now-circle.svg")
