div(data-slide-dialog).dialog-group
    .instruction-dialog-next-block(data-dialog-next)
        .item-dialog.item-dialog-1
            .item-dialog-content
                h1.title MPLAY is a free video streaming service
                p.text Featuring local Singapore series, exclusive videos and short films
            .img-wrapper
                img.img-responsive(src="assets/images/illustrations/dialog-1.svg" alt="Dialog instruction")
        .item-dialog.item-dialog-2
            .img-wrapper
                img.img-responsive(src="assets/images/illustrations/dialog-2.svg" alt="Dialog instruction")
            .item-dialog-content
                h1.title Tune in to LiveTv for brand new fresh content 
                p.text Be the among the first to watch live-streamed exclusive content
        .item-dialog.item-dialog-3
            .img-wrapper-left
                img.img-responsive(src="assets/images/illustrations/dialog-4.svg" alt="Dialog instruction")
            .img-wrapper-right
                img.img-responsive(src="assets/images/illustrations/dialog-3.svg" alt="Dialog instruction")
            .item-dialog-content
                h1.title Create an account to keep track of your favourite shows Join the community to rate Et comment 
                p.text Join the community to rate Et comment

            .group-item.text-center
                a(data-sign-from-instruction).btn-submit
                    img(src="assets/images/illustrations/sign-up.svg" alt="Sign up").image-sign-up
                a.continue-link.underline(href="#" title="") Continue without signup



        

    