.post-slide-block.bg-black-2
    .container
        h1.main-titles Your Watchlist
        .post-top-image-inner(data-post-slide)
            .post-block.post-full-image
                    .post-image(style="background: url('assets/images/post/come-1.png') center center / cover no-repeat")
                        .post-overlay
                        .post-content
                            span.post-category Drama • 2015
                            h1.post-title Behind the Scenes
                    ul.post-list-icon
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/icons/watch-now-circle.svg")
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/icons/favourite-circle.svg")
                        li
                            a(href="javascript:void(0)" data-more-info).more-info-link
                                img(src="assets/images/icons/more-info.svg").more-image.d-desktop
                                span.more-info-btn.more-image.d-mobile MORE INFO
                                img(src="assets/images/icons/less-info.svg").less-image
            .post-block.post-full-image
                    .post-image(style="background: url('assets/images/post/come-2.png') center center / cover no-repeat")
                        .post-overlay
                        .post-content
                            span.post-category Drama • 2015
                            h1.post-title Behind the Scenes
                    ul.post-list-icon
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/icons/watch-now-circle.svg")
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/icons/favourite-circle.svg")
                        li
                            a(href="javascript:void(0)" data-more-info).more-info-link
                                img(src="assets/images/icons/more-info.svg").more-image.d-desktop
                                span.more-info-btn.more-image.d-mobile MORE INFO
                                img(src="assets/images/icons/less-info.svg").less-image
            .post-block.post-full-image
                    .post-image(style="background: url('assets/images/post/come-3.png') center center / cover no-repeat")
                        .post-overlay
                        .post-content
                            span.post-category Drama • 2015
                            h1.post-title Behind the Scenes
                    ul.post-list-icon
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/icons/watch-now-circle.svg")
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/icons/favourite-circle.svg")
                        li
                            a(href="javascript:void(0)" data-more-info).more-info-link
                                img(src="assets/images/icons/more-info.svg").more-image.d-desktop
                                span.more-info-btn.more-image.d-mobile MORE INFO
                                img(src="assets/images/icons/less-info.svg").less-image
            .post-block.post-full-image
                    .post-image(style="background: url('assets/images/post/come-1.png') center center / cover no-repeat")
                        .post-overlay
                        .post-content
                            span.post-category Drama • 2015
                            h1.post-title Behind the Scenes
                    ul.post-list-icon
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/icons/watch-now-circle.svg")
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/icons/favourite-circle.svg")
                        li
                            a(href="javascript:void(0)" data-more-info).more-info-link
                                img(src="assets/images/icons/more-info.svg").more-image.d-desktop
                                span.more-info-btn.more-image.d-mobile MORE INFO
                                img(src="assets/images/icons/less-info.svg").less-image
            .post-block.post-full-image
                    .post-image(style="background: url('assets/images/post/come-2.png') center center / cover no-repeat")
                        .post-overlay
                        .post-content
                            span.post-category Drama • 2015
                            h1.post-title Behind the Scenes
                    ul.post-list-icon
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/icons/watch-now-circle.svg")
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/icons/favourite-circle.svg")
                        li
                            a(href="javascript:void(0)" data-more-info).more-info-link
                                img(src="assets/images/icons/more-info.svg").more-image.d-desktop
                                span.more-info-btn.more-image.d-mobile MORE INFO
                                img(src="assets/images/icons/less-info.svg").less-image
            .post-block.post-full-image
                    .post-image(style="background: url('assets/images/post/come-3.png') center center / cover no-repeat")
                        .post-overlay
                        .post-content
                            span.post-category Drama • 2015
                            h1.post-title Behind the Scenes
                    ul.post-list-icon
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/icons/watch-now-circle.svg")
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/icons/favourite-circle.svg")
                        li
                            a(href="javascript:void(0)" data-more-info).more-info-link
                                img(src="assets/images/icons/more-info.svg").more-image.d-desktop
                                span.more-info-btn.more-image.d-mobile MORE INFO
                                img(src="assets/images/icons/less-info.svg").less-image
    //- include section-video-popup
    
