.post-card-component.scroll-bar
    .post-card-header
        button Season 1
            i.fa.fa-chevron-down
    ul.post-card-list
        li.post-card-item.active
            .post-card-inner
                .post-card-image(style="background: url('assets/images/banner/banner-8.png') center center / cover no-repeat")
                .post-card-info
                    span.episode-title Episode 1
                    h3.post-card-title.font-bold The Homecoming
                    span.post-card-time 22 mins
                    p.post-card-description 4 Lines of show description The series negates all happenings in the predecessors and explores. Lines of show description 
        li.post-card-item
            .post-card-inner
                .post-card-image(style="background: url('assets/images/banner/banner-9.png') center center / cover no-repeat")
                .post-card-info
                    span.episode-title Episode 2
                    h3.post-card-title.font-bold The Revial
                    span.post-card-time 22 mins
                    p.post-card-description 4 Lines of show description The series negates all happenings in the predecessors and explores
        li.post-card-item
            .post-card-inner
                .post-card-image(style="background: url('assets/images/banner/banner-6.png') center center / cover no-repeat")
                .post-card-info
                    span.episode-title Episode 3
                    h3.post-card-title.font-bold Aduhabi
                    span.post-card-time 22 mins
                    p.post-card-description 4 Lines of show description The series negates all happenings in the predecessors and explores
        li.post-card-item
            .post-card-inner
                .post-card-image(style="background: url('assets/images/banner/banner-1.png') center center / cover no-repeat")
                .post-card-info
                    span.episode-title Episode 4
                    h3.post-card-title.font-bold No mans
                    span.post-card-time 22 mins
                    p.post-card-description 4 Lines of show description The series negates all happenings in the predecessors and explores