.dialogs-box.profile-box
    .profile-inner
        .profile-image
            img(src="assets/images/profile/account.png" alt="User")
            button.upload-picture Upload Photo
        .profile-info
            h2.font-bold John Smith
            .group-item
                h3.phone.font-bold Phone: +32423423643
                a(href="#" title="Change phone number").underline Change phone number
            .group-item
                h3.password.font-bold Password: *******
                a(href="#" title="Change password").underline Change password
    .text-center
        button.logout Log out
