.section-video-popup.bg-white
    i.fa.fa-times.top-conner(data-btn-close)
    .container.video-popup-inner
        include video
        .d-flex.padding-top-50
            .width-70
                include content-video
                .padding-top-100.padding-right-50.d-desktop
                    include comment-box
            .width-30
                include tab-full
