.content-video-component
    span.content-category.font-bold Long Film • 2012 • 442 mins
    h1.content-video-title.font-bold 1980: Forrest Grump
    p.content-video-description 4 Lines of show description The series negates all happenings in the predecessors and explores what might have happened should the boys have been assigned to the Naval Diving Unit. 
    .rating-block
        img(src="assets/images/icons/stars.svg")
        span.star-text 4.0 STARS
    ul.video-list-link
        li.watch-now
            a(href="series-page.html").watch-now-link
                img(src="assets/images/icons/watch-now-black.svg")
        li.add-to-favourist
            a(href="javascript:void(0)").add-to-favouristlink
                img(src="assets/images/icons/add-to-favourites-black.svg")
    