.more-info-of-banner.bg-white.d-desktop(data-show-more-block-inner="")
    .container
        .d-flex
            .width-60
                include content-video
                .d-desktop
                    include comment-box
            .width-40
                include trailer-4