.post-slide-block.bg-black-2(data-show-video-popup)
    .container.border-gray
        h1.main-titles SHORT FILMS
        .post-top-image-inner.bg-gray-2(data-post-slide)
            .post-block.post-full-image
                    .post-image(style="background: url('assets/images/total/1.jpg') center center / cover no-repeat")
                        .post-overlay
                        .post-content
                            span.post-category Drama • 2015
                            h1.post-title Behind the Scenes
                    ul.post-list-icon
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/icons/watch-now-circle.svg")
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/icons/favourite-circle.svg")
                        li
                            a(href="javascript:void(0)" data-show-more-btn data-show-more-order="1").more-info-link
                                img(src="assets/images/icons/more-info.svg").more-image.d-desktop
                                span.more-info-btn.more-image.d-mobile(href="#" data-toggle='modal', data-target='[data-show-more-popup="1"]') MORE INFO
                                img(src="assets/images/icons/less-info.svg").less-image
            .post-block.post-full-image
                    .post-image(style="background: url('assets/images/total/2.jpg') center center / cover no-repeat")
                        .post-overlay
                        .post-content
                            span.post-category Drama • 2015
                            h1.post-title Behind the Scenes
                    ul.post-list-icon
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/icons/watch-now-circle.svg")
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/icons/favourite-circle.svg")
                        li
                            a(href="javascript:void(0)" data-show-more-btn data-show-more-order="2").more-info-link
                                img(src="assets/images/icons/more-info.svg").more-image.d-desktop
                                span.more-info-btn.more-image.d-mobile(href="#" data-toggle='modal', data-target='[data-show-more-popup="2"]') MORE INFO
                                img(src="assets/images/icons/less-info.svg").less-image
            .post-block.post-full-image
                    .post-image(style="background: url('assets/images/total/3.jpg') center center / cover no-repeat")
                        .post-overlay
                        .post-content
                            span.post-category Drama • 2015
                            h1.post-title Behind the Scenes
                    ul.post-list-icon
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/icons/watch-now-circle.svg")
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/icons/favourite-circle.svg")
                        li
                            a(href="javascript:void(0)" data-show-more-btn data-show-more-order="3").more-info-link
                                img(src="assets/images/icons/more-info.svg").more-image.d-desktop
                                span.more-info-btn.more-image.d-mobile(href="#" data-toggle='modal', data-target='[data-show-more-popup="3"]') MORE INFO
                                img(src="assets/images/icons/less-info.svg").less-image
            .post-block.post-full-image
                    .post-image(style="background: url('assets/images/total/1.jpg') center center / cover no-repeat")
                        .post-overlay
                        .post-content
                            span.post-category Drama • 2015
                            h1.post-title Behind the Scenes
                    ul.post-list-icon
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/icons/watch-now-circle.svg")
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/icons/favourite-circle.svg")
                        li
                            a(href="javascript:void(0)" data-show-more-btn data-show-more-order="4").more-info-link
                                img(src="assets/images/icons/more-info.svg").more-image.d-desktop
                                span.more-info-btn.more-image.d-mobile(href="#" data-toggle='modal', data-target='[data-show-more-popup="4"]') MORE INFO
                                img(src="assets/images/icons/less-info.svg").less-image
            .post-block.post-full-image
                    .post-image(style="background: url('assets/images/total/2.jpg') center center / cover no-repeat")
                        .post-overlay
                        .post-content
                            span.post-category Drama • 2015
                            h1.post-title Behind the Scenes
                    ul.post-list-icon
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/icons/watch-now-circle.svg")
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/icons/favourite-circle.svg")
                        li
                            a(href="javascript:void(0)" data-show-more-btn data-show-more-order="5").more-info-link
                                img(src="assets/images/icons/more-info.svg").more-image.d-desktop
                                span.more-info-btn.more-image.d-mobile(href="#" data-toggle='modal', data-target='[data-show-more-popup="5"]') MORE INFO
                                img(src="assets/images/icons/less-info.svg").less-image
            .post-block.post-full-image
                    .post-image(style="background: url('assets/images/total/3.jpg') center center / cover no-repeat")
                        .post-overlay
                        .post-content
                            span.post-category Drama • 2015
                            h1.post-title Behind the Scenes
                    ul.post-list-icon
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/icons/watch-now-circle.svg")
                        li
                            a(href="javascript:void(0)")
                                img(src="assets/images/icons/favourite-circle.svg")
                        li
                            a(href="javascript:void(0)" data-show-more-btn data-show-more-order="6").more-info-link
                                img(src="assets/images/icons/more-info.svg").more-image.d-desktop
                                span.more-info-btn.more-image.d-mobile(href="#" data-toggle='modal', data-target='[data-show-more-popup="6"]') MORE INFO
                                img(src="assets/images/icons/less-info.svg").less-image
    //- include section-video-popup
    div(data-show-more-block="1")
        include more-info-component
    div(data-show-more-block="2")
        include more-info-component-2
    div(data-show-more-block="3")
        include more-info-component-3
    div(data-show-more-block="4")
        include more-info-component-4
    div(data-show-more-block="5")
        include more-info-component
    div(data-show-more-block="6")
        include more-info-component-2

.more-info-of-post-popup.more-info-group.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true' data-show-more-popup="1")
    .modal-dialog(role='document').centered
        .modal-header
            h1.uppercase.font-bold.title TRAILER
            button(type='button', data-dismiss='modal') 
                span.icon-x ×
                span.text-close CLOSE
        .modal-content
            .trailer-component
                include video
            include content-video
            
.more-info-of-post-popup.more-info-group.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true' data-show-more-popup="2")
    .modal-dialog(role='document').centered
        .modal-header
            h1.uppercase.font-bold.title TRAILER
            button(type='button', data-dismiss='modal') 
                span.icon-x ×
                span.text-close CLOSE
        .modal-content
            .trailer-component
                include video-2
            include content-video-2

.more-info-of-post-popup.more-info-group.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true' data-show-more-popup="3")
    .modal-dialog(role='document').centered
        .modal-header
            h1.uppercase.font-bold.title TRAILER
            button(type='button', data-dismiss='modal') 
                span.icon-x ×
                span.text-close CLOSE
        .modal-content
            .trailer-component
                include video-3
            include content-video-3

.more-info-of-post-popup.more-info-group.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true' data-show-more-popup="3")
    .modal-dialog(role='document').centered
        .modal-header
            h1.uppercase.font-bold.title TRAILER
            button(type='button', data-dismiss='modal') 
                span.icon-x ×
                span.text-close CLOSE
        .modal-content
            .trailer-component
                include video-4
            include content-video-4

.more-info-of-post-popup.more-info-group.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true' data-show-more-popup="3")
    .modal-dialog(role='document').centered
        .modal-header
            h1.uppercase.font-bold.title TRAILER
            button(type='button', data-dismiss='modal') 
                span.icon-x ×
                span.text-close CLOSE
        .modal-content
            .trailer-component
                include video-2
            include content-video-2

.more-info-of-post-popup.more-info-group.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true' data-show-more-popup="3")
    .modal-dialog(role='document').centered
        .modal-header
            h1.uppercase.font-bold.title TRAILER
            button(type='button', data-dismiss='modal') 
                span.icon-x ×
                span.text-close CLOSE
        .modal-content
            .trailer-component
                include video-3
            include content-video-3
